@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body{
	background: #E5EFF1;
	font-family: 'Lato', sans-serif;
}

*{
	margin: 0;
}

h1, h2, h3, p{
	margin: 0;
}

header{
	background: #24A4ED;
	height: 390px;
}

header h1, h3{
	color: #fff;
	font-weight: 700;
	text-align: center;
}

header h1{
	padding: 40px 0 0;
	font-size: 6em;
}

header input{
	width: 600px;
	margin: 0 auto;
	display: table;
	/*display: block;*/
	margin-top: 50px;
	background: none;
	border: none;
	border-bottom: 2px solid white;
	color: #fff;
	font-size: 40px;
	text-align: left;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

header input:focus{
	border: 0px;
	outline-offset: 0px;
	outline: -webkit-focus-ring-color auto 0px;
	
	border-bottom: 2px solid white;
	color: white
}

/*helpers*/
.wrapper{
	max-width: 940px;
	margin: 0 auto;
}

.text-center{
	text-align: center;
}

.center-image{
	display: block;
	margin: 0 auto;
	width: 350px;
}


.button {
    background-color: #24a4ed; /* Green */
    border: 1px solid #fff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		margin: 24px -80px; 
    position:relative;
    top:50%; 
    left:50%;
}


/*media*/

/*x->720*/
@media screen and (max-width: 720px) {

	header{
		height: 240px;
	}

	header h1{
		font-size: 3em;
	}

	header input{
		font-size: 20px;
		width: 270px;
		margin-top: 27px;
	}

	.button{
    padding: 8px 32px;
    /* font-size: 14px; */
    margin: 21px -80px;
	}

	.center-image{
		width: 200px;
	}

}