@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body{
	background: #24a4ed;
	font-family: 'Lato', sans-serif;
}

html{
	background: #fff;
}

html, body{
	height: 100%;
  margin: 0;
}

*{
	margin: 0;
}

h1, h2, h3, h4 p{
	margin: 0;
}

section{
	background: #fff;
	padding-top: 18px;
	height: 70% !important;
}

section h2, h4{
	color: #24a4ed;
	margin: 0 0 5px;
}

section h2{
	font-size: 3em;
}

section h4{
	font-size: 1.5em;
}


header{
		
	height: 390px;
}

header h1, h3{
	text-align: center;
	color: #fff;
}

header h1{
	padding: 40px 0 0;
  font-weight: 700;
	font-size: 6em;
}

header h3{
  font-weight: 400;
	font-size: 2.5em;
}


header input{
	width: 600px !important;
	margin: 0 auto !important;
	display: table;
	/*display: block;*/
	margin-top: 50px !important;
	background: none;
	border: none !important;
	border-bottom: 1px solid white !important;
	color: #fff;
	font-size: 35px !important;
	text-align: left;
  font-weight: 300;
}

header input:focus{
  border-bottom: 2px solid white !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

header input:focus{
	border: 0px;
	outline-offset: 0px;
	outline: -webkit-focus-ring-color auto 0px;
	
	border-bottom: 2px solid white;
	color: white
}

/*helpers*/
.wrapper{
	max-width: 940px;
	margin: 0 auto;
  padding: 0px 0 40px;
}

.text-center{
	text-align: center;
}

.center-image{
	display: block;
	margin: 0 auto;
	width: 350px;
}


.button {
	background-color: #24a4ed; /* Green */
	border: 1px solid #fff;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 24px -80px; 
	position:relative;
	top:50%; 
	left:50%;
}

.button:hover{
  background: #51b4ec;
}

.button:focus{
  background: none; 
}


.card-panel{
	opacity: 0.9;
	border: 1px solid #fff;
	cursor: pointer;
}

.card-panel:hover{
	opacity: 1;
	border: 1px solid #24a4ed;
}

.footer{
  height: 50px;
	margin-top: -50px;
}


.footer-info{
	position: absolute;
	bottom: 0px;
}

.footer-info a{
	color: #fff;
}

/* start 'enter' transition */
span .ng-enter {
	/* transition on enter for .5s */
	transition: .8s;

	/* start with opacity 0 (invisible) */
	opacity: 0;
}

/* end 'enter' transition */
span .ng-enter-active {
	/* end with opacity 1 (fade in) */
	opacity: 1;
	transition: .8s;
}

/*media*/

/*x->720*/
@media screen and (max-width: 720px) {

  section h2{
    font-size: 1.5em;
  }

  section h4{
    font-size: 0.9em;
  }

	header{
		height: 260px;
	}

	header h1{
		font-size: 2.9em;
	}

	header h3{
	font-size: 1.1em;
	}

	header input{
		width: 600px !important;
		margin: 0 auto !important;
		font-size: 20px !important;
		width: 270px !important;
		margin-top: 18px !important;
		
	}

	.button{
    padding: 6px 25px !important;
    font-size: 14px;
    margin: 25px -68px !important;
	}

	.center-image{
		width: 200px;
	}

}