@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

// Global Variables Colors
$white:#fff;
$black: #262626;
$primary-gray:#F9FAFA;
$dark-gray:#F2F2F2;
$primary-blue: #3D8BEA;
$dark-blue:#2761A9;
$primary-green:#9CC07C;

body{
  background: $dark-gray;
}

header {
  background: $primary-blue;
  padding: 10px 0 0;
  h1 {
    font-weight: 400;
    font-size: 30px;
  }
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 24px;
}

p{
  font-size: 18px;
}

h1,h2,p {
  // default style
  color: $white;
  margin: 0;
  padding: 0;
  font-weight: 400;
  // custom styles
  &.bold{
    font-weight: 500;
  }
  // custom colors
  &.green{
    color: $primary-green
  }
}

